*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 1080px;
    height: 1920px;
    background-color: gray;
    margin: auto;
}

h1, h2{
    text-align: center;
}

h1{ 
    height: 50px;
    background-color: thistle;
}
ul{
    margin-left: 250px;
}
.unidadUno{
    background-color: white;
    height: 200px;
}

.unidadDos{
    background-color: blanchedalmond;
    height: 330px;
}

.unidadTres{
    background-color: coral;
    height: 190px;
}